# Ignore everything in this directory
/*

# except for these files
!/.gitignore
!/README.md
!/index.htm

# and these folders
!/project*/

# Also, ignore all folders called 'extra' anywhere in the repo
/**/extra
